@model IEnumerable<HotelIsaac.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"
       >Create New booking</a>
</p>
<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QtySortParm"]" title="Sort number of guests">No of guests</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartdateSortParm"]" title="Sort check in">Check In Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EnddateSortParm"]" title="Sort check out">Check Out Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EtaSortParm"]" title="Sort eta">ETA</a>
            </th>
            <th>
              <a asp-action="Index" asp-route-sortOrder="@ViewData["CheckInSortParm"]" title="Sort by check-in status">Checked in?</a>
            </th>
            <th>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SpecialneedsSortParm"]" title="Sort requests">Requests</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ExtrabedSortParm"]" title="Sort extra beds">Extra Bed</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CustomersSortParm"]" title="Sort guests">Guest</a>
            </th>
            <th>
            </th>
        </tr>
    </thead>



    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Qtypersons)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Startdate)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Enddate)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Eta)
          </td>
          <td>
            @if (@item.checkedIn == null)
            {
              <span>No</span>
            }
            @if (@item.checkedIn == true)
            {
              <span>Yes</span>
            }
            @if (@item.checkedIn == false)
            {
              <span>Checked out</span>
            }

          </td>
          <td>
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Specialneeds)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Extrabed)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Customers.Firstname) @Html.DisplayFor(modelItem => item.Customers.Lastname)
          </td>
          <td>
          </td>
          <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            @if (item.checkedIn == null)
            {
              <a asp-action="CheckIn" asp-route-id="@item.Id">Check In</a>
}
            @if (item.checkedIn == true)
            {
              <a asp-action="CheckOut" asp-route-id="@item.Id">Check out</a>
            }
          </td>
        </tr>
        
      }
    </tbody>
</table>
