@model IEnumerable<HotelIsaac.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QtySortParm"]" title="Sort number of guests">No of guests</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartdateSortParm"]" title="Sort check in">Check In Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EnddateSortParm"]" title="Sort check out">Check Out Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EtaSortParm"]" title="Sort eta">ETA</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TimearrivalSortParm"]" title="Sort time arrival">Arrival Time</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TimedepartureSortParm"]" title="Sort time departure">Departure Time</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SpecialneedsSortParm"]" title="Sort requests">Requests</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ExtrabedSortParm"]" title="Sort extra beds">Extra Bed</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CustomersSortParm"]" title="Sort guests">Guest</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StaffSortParm"]" title="Sort staff">Staff</a>
            </th>
        </tr>
    </thead>



    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Qtypersons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enddate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timearrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timedeparture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialneeds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extrabed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
